.tooltip {
  position: absolute;
  padding: 0px;
  font: 12px sans-serif;
  background: #181818;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  color: #d63384;
  border: 2px solid #d63384; /* Add border */
  transition: opacity 0.3s;

}
