.custom-popup .mapboxgl-popup-tip {
    display: none;
}
.custom-popup .mapboxgl-popup-content {
    border-radius: 10px;
}
.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    padding: 20px;
    border: 2.5px solid #d63384;
    border-radius: 10px;
    z-index: 1000;
    width: 70%; /* Set width to 80% of the screen */
    max-width: 1200px; /* Optional: Set a maximum width to limit the size */
    height: 90%; /* Allow the height to adjust based on content */
    max-height: 800px; /* Optional: Set a maximum height to limit the size */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
    scrollbar-color: #d63384 #181818;
    scrollbar-width: thin;
}

.popup-header {
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 10px;
    z-index: 1001; /* Ensure header stays above content */
    text-align: center;
    color: #d63384;
  }
  
  .popup-content {
    padding-top: 50px; /* Adjust content padding to accommodate fixed header */
  }  

.close-btn {
    color: #d63384;
    border: 2.5px solid #d63384;
    background: transparent;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    position: absolute; /* Position the button relative to the popup */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    
}

.close-btn:hover {
    box-shadow: 3px 3px 0px 0px #ffffff;
  }

.popup-table {
/*margin-left: 480px;*/
/*transform: translateY(20%);*/
margin-top: 20%; 
}

.popup-table a {
color: #d63384; /* Set the color of the links */
text-decoration: none; /* Remove underline */
}

.popup-table a:hover {
color: #d63384; /* Change color on hover */
text-decoration: underline; /* Underline on hover */
}

#bubbleChart {
    position: absolute;
    top: 70%;
    right: 40%;
    transform: translateY(-15%);
  }
  
  .toggle-projection-btn {
    border-radius: 20px; /* æ·»å?????è§? */
    background-color: black; /* è®¾ç½®?????¯é????²ä¸ºé»???? */
    color: #d63384; /* è®¾ç½®å­?ä½?é¢???²ä¸ºæ©???? */
    border: 2px solid #d63384; /* è®¾ç½®è¾¹ç??ä¸ºæ????? */
    padding: 10px 20px; /* ??¹æ?®é??è¦?è°???´æ????®å????¨ç??ç©ºé?? */
    cursor: pointer; /* å°?é¼?????????????ä¸ºæ?????å½¢ç?? */
    transition: background-color 0.3s, color 0.3s; /* å¹³æ??è¿?æ¸¡æ????? */
}

.toggle-projection-btn:hover {
    background-color: #d63384; /* é¼??????¬å????¶è????¯å??ä¸ºæ????? */
    color: black; /* é¼??????¬å????¶å??ä½????ä¸ºé????? */
}

#bubbleChart {
    display: flex;
    justify-content: center;
    align-items: center;
  }