.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Higher z-index to ensure it appears in front */
  }
  a {
    color: #d63384; /* Set the color of the links */
    text-decoration: underline;
    }

.popup-title {
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 10px;
    z-index: 1001; /* Ensure header stays above content */
    text-align: center;
    color: #d63384;
}
  .popup-body {
    text-align: center;
    position: relative; /* Required for z-index to work */
    background-color: #181818;
    padding: 20px;
    border: 2.5px solid #d63384;
    border-radius: 10px;
    width: 70%; /* Set width to 70% of the screen */
    max-width: 900px; /* Optional: Set a maximum width to limit the size */
    height: 90%; /* Allow the height to adjust based on content */
    max-height: 650px; /* Optional: Set a maximum height to limit the size */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
    scrollbar-color: #d63384 #181818;
    scrollbar-width: thin;
    color: #d63384;
    box-shadow: 1px 1px 3px 2px #f49beb;
  }
  
  .close-button {
    position: absolute; /* Position the button relative to the popup */
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    color: #d63384;
    border: 2.5px solid #d63384;
    background: transparent;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .close-button:hover {
    box-shadow: 3px 3px 0px 0px #ffffff;
  }

  .italic-text {
    font-style: italic;
    background-color: #181818;
    border: 2.5px solid #d63384;
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px;
    width: 45%; /* Set the width to 80% of its parent container */
    max-width: 600px; /* Optional: Set a maximum width to limit the size */
    margin: 0 auto; /* Center the element horizontally */
}

.normal-text {
  font-style: bold;
  background-color: #181818;
  border: 2.5px solid #d63384;
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px;
  width: 45%; /* Set the width to 80% of its parent container */
  max-width: 600px; /* Optional: Set a maximum width to limit the size */
  margin: 0 auto; /* Center the element horizontally */
}

/* Add this CSS rule to your existing CSS file */

.team-container {
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 150px; /* Adjust the width and height as needed */
  height: 200px; /* Adjust the width and height as needed */
  border-radius: 50%; /* Make the image circular */
  margin: 0 30px; /* Add some space between the images */
}

/* Add this CSS rule to your existing CSS file */

.team-container {
  display: flex;
  justify-content: center;
}

.team-member {
  text-align: center;
}

.profile-text {
  color: #d63384; /* Set the color of the text */
  margin-top: 5px; /* Adjust the spacing between the image and the text */
}

.name-text {
  color: #d63384; /* Set the color of the text */
  font-weight: bold; /* 使文本变为粗体 */
  margin-bottom: 10px; /* 在<p>标签和下面元素之间添加20px的距离 */
}
