@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1400px; 
  grid-template-rows: 50px auto 200px 50px;
  grid-gap: 10px;
  margin: 10px;
  width: calc(1600px + 10px);
  height: calc(100vh - 20px);
  box-sizing: border-box;
}


.grid-item {
  background-color: #181818;
  border-radius: 7px;
  display: flex;
  overflow: hidden;
}


.home, .filter, .about,  .map, .chart, .timeline {
  height: 100%;
}

.home {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.home {
  font-family: Arial, sans-serif; /* ??¹æ?®é??è¦?è°???´å??ä½? */
  font-size: 24px; /* ??¹æ?®é??è¦?è°???´å????? */
  text-align: center;
}

.abba {
  color: #d63384;
}

.verse {
  color: white;
}

.flipped-b {
  display: inline-block;
  transform: scaleX(-1); /* æ°´å¹³ç¿»è½¬ */
  color: #d63384;
}


.filter {
  grid-column: 1;
  grid-row: 2 / 4;
  display: flex;
  flex-direction: column;
}

.filter-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.about {
  grid-column: 1;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item.about {
  color: white; /* è®¾ç½®?????¬é????²ä¸º??½è?? */
  font-family: Arial, sans-serif; /* è°???´å??ä½? */
  font-size: 20px; /* è°???´å????? */
  text-align: center;
}

.circle-question {
  font-size: 0.8em; /* ??¯è????´é?®å?·å??ç¬¦ç??å¤§å?? */
  vertical-align: middle; /* ??¹æ?®é??è¦?è°???´å¯¹é½? */
  color: #d63384;
 /* è®¾ç½®??????????????®å?·å??ç¬¦é????²ä¸ºæ©???? */
 margin-right: 10px; /* ??¨å?????å­?ç¬¦å??"INFORMATION"ä¹???´æ·»?????´é?? */
}


.map {
  grid-column: 2;
  grid-row: 1/3;
}


.chart {
  grid-column: 2;
  grid-row: 3/4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.treemap-chart-container {
  width: 100%; /* ä½¿å??å®¹å?¨å®½åº¦å¡«æ»¡ç?¶å®¹??? */
  display: flex;
  flex-direction: column; /* å­?é¡¹å????´æ????? */
  justify-content: flex-end; /* ä½¿å??å®¹é??è¿?åº???? */
  align-items: center; /* æ°´å¹³å±?ä¸­å¯¹é½?å­?é¡? */
  margin-top: auto; /* ??¨å?¨æ????????å®¹å?°å????? */
  padding-bottom: 25px; /* è·?ç¦»å?????10px */
}


.chart-switcher {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
  z-index: 1; /* ç¡®ä????¨æ??ä¸?å±? */
}

.chart-switcher button {
  border-radius: 20px;
  border: 2px solid #d63384;
  background-color: black;
  color: #d63384;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.chart-switcher button:hover,
.chart-switcher button.active {
  background-color: #d63384;
  color: black;
}

.my-custom-button {
  background-color: black;
  color: #d63384;
  border: 2px solid #d63384;
  border-radius: 5px;
  margin-right: 5px; /* ?????®é?´ç????´è?? */
  padding: 5px 10px; /* ???å­?ä¸?è¾¹æ?????è·?ç¦? */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* å¹³æ?????é¢???²è??æ¸¡æ????? */
}

.my-custom-button:disabled {
  color: gray;
  border-color: gray;
  cursor: not-allowed;
}

.my-custom-button:not(:disabled):hover {
  background-color: #d63384;
  color: black;
}

/* ä½?äº? grid-item chart ??³ä????¹ç??å®?ä½???·å?? */
.chart-navigation {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
}


.timeline {
  grid-column:2/3;
  grid-row: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  margin: 0;
  padding: 0;
  color: #d63384;
}
/*
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #5b21b6, #1e40af);
  color: #fff;
}
*/
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Align items vertically */
  flex-wrap: wrap; /* Allow items to wrap */
  max-width: 100%; /* Ensure the container doesn't exceed grid width */
  overflow: hidden; /* Hide overflow if items exceed width */
  margin-top: 19px;
  overflow-y: scroll;
  position: relative;
  scrollbar-color: #d63384 #181818;
  scrollbar-width: thin;
}
.button {
  width: 160px;
  height: 20%;
  color: #d63384;
  border: 1px solid #d63384;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.button-select {
  color: #d63384;
  border: 1px solid #d63384;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px #ffffff;
}

.button-select:hover {
  box-shadow: 3px 3px 0px 0px #ffffff;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 4px 10px;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  border: 1px solid #d63384;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
.category {
  color: #64748b;
  font-size: 10px;
}
*/

.active {
  background-color: #181818;
  color: #fff;
}

.album-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  margin: 5px; /* Adjust margin as needed */
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-button {
  width: 160px; /* Adjust image button width */
  height: auto;
  object-fit: cover;
  border-radius: 7px;
  margin-top: 2px;
}

.album-filter.active .image-button {
  border: 2px solid #d63384;
}

.song-filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  max-height: 500px;
}

.song-filter-button {
  margin: 5px 0; /* Add some vertical margin between song filter buttons */
}

.song-filter-button.active {
  margin: 5px 0; /* Add some vertical margin between song filter buttons */
  color: black;
  background: #d63384;
}